html{
	width: 100%;
}

* {
	box-sizing: border-box;
}


.navbar-brand img {
	height: 50px;
}
.narbar {
	padding-left: ;
}

.navbar-nav {
  margin-left: 100px;
  font-size: 12px;
}
/*section1*/
.content {
	
}


.graysquare  {
  width: 637px;
  height: 560px;
  
  z-index: 1;
  position: absolute;
  float: left;
  margin-top: 30px;
  margin-left: 0px;
}

.foodnottoeat {
	width: 560px;
  height: 38px;
  font-family: Georgia;
  font-size: 48px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;

  
  margin-top: 200px;
  margin-left: 150px;
  position: absolute;
  z-index: 10;
}


.name15 {
	 width: 510px;
     height: 337px;


position: absolute;
z-index: 9;
margin-top: 292px;
margin-left: 0px;
}

/*min section2*/
.whynot {
	width: 300px;
  height: 35px;
  font-family: Georgia;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;


  position: absolute;
  z-index: 2;
  margin-top: 650px;
  margin-left: 0px;
}

.text1 {
	width: 637px;
  height: 135px;
  font-family: Georgia;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 40px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;



  position: absolute;
   z-index: 3;
   margin-top: 700px;
   margin-left: 20px;
}

/*section2*/

.name10 {
	width: 454px;
  height: 302px;


  position: absolute;
   z-index: 4;
   margin-top: 950px;
   margin-left: 100px;
}

.text2 {
	width: 446px;
  height: 229px;
  font-family: Georgia;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 40px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;



  position: absolute;
   z-index: 5;
   margin-top: 1300px;
   margin-left: 110px;
}

.text3 {
	width: 446px;
  height: 229px;
  font-family: Georgia;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 40px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;



position: absolute;
 z-index: 6;
 margin-top: 2150px;
 margin-left: 110px;
}

.name6 {
 width: 489px;
  height: 326px;



  position: absolute;
   z-index: 7;
   margin-top: 1800px;
   margin-left: 100px;
}
.name5 {
width: 600px;
  height: 313px;



position: absolute;
 z-index: 8;
 margin-top: 2450px;
 margin-left: 40px;
}
.text4 {
	width: 446px;
  height: 229px;
  font-family: Georgia;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 40px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

  position: absolute;
   z-index: 11;
   margin-top: 2800px;
   margin-left: 110px;
}

.footer {
	width: 900px;
  height: 120px;
  border: solid 0.4px #000000;
  background-color: #ffffff;

	position: absolute;
	z-index: 12;
	margin-top: 3200px;
}

.copyright {
	text-align: center;
	margin-top: 40px;
}